In [1]:
import pandas as pd
import numpy as np

In [7]:
colours_list = np.array(['blue', 'red', 'green'])
co_list = pd.Series(colours_list)

In [8]:
co_list

0     blue
1      red
2    green
dtype: object

In [10]:
cars_list = np.array(['BMW', 'Proche', 'Toyota'])
ca_list = pd.Series(cars_list)
ca_list

0       BMW
1    Proche
2    Toyota
dtype: object

## DataFrame

In [12]:
df = pd.concat([ca_list, co_list], axis=1)
df

        0      1
0     BMW   blue
1  Proche    red
2  Toyota  green

In [13]:
car_sales = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/car-sales.csv")

In [14]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00